body{
    background-color: black;
    font-family: roboto,arial;
    color:white;
}
.hero{
    background-color: black;
    color: white;
    width: 600px;
    height: 700px;
    display:flex;
    justify-content: center;
    margin-left: 500px;
    margin-top: 120px;
}
.hero svg{
    height: 40px;
    display: flex;
    justify-content: center;
    
    
}
.box{
    background-color: black;
    color: white;
    height: 40px;
    width: 400px;
    border: 2px solid white;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;    
    transition: all 0.3s ease;
    cursor: pointer;

}
.loginbox input{
    height: 50px;
    width: 400px;
    border-radius: 10px;
    border-color: white;
    background-color: black;
}